* {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;

  --mont-font: "Montserrat", sans-serif;
  --hanken-font: "Hanken Grotesk", Roboto, Verdana, sans-serif;

  --primary-bg: #f2f4ff;
  --primary-col: #071108;
  --secondary-col: #343434;
}
body {
  background-color: var(--primary-bg);
  font-family: var(--hanken-font);
}

.ques {
  position: relative;

  word-spacing: 3px;
  margin-bottom: 0.5rem;
  color: var(--primary-col);
}
.english {
  font-style: 1.2em;
  color: var(--primary-col);
}
.telugu {
  font-size: 0.9em;
  color: var(--secondary-col);
}

.ques.mandatory::after {
  content: " *";
  color: red;
  position: relative;
  font-size: 1em;
  top: -1px;
}
