* {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;

  --mont-font: "Montserrat", sans-serif;
  --hanken-font: "Hanken Grotesk", Roboto, Verdana, sans-serif;

  --primary-bg: #f2f4ff;
  --primary-col: #071108;
  --secondary-col: #343434;
}
body {
  font-family: var(--hanken-font);
  font-size: 1.2em;     /* this font-size is good enough (still testing) */
}

.ques {
  position: relative;

  word-spacing: 3px;
  margin-bottom: 0.5rem;
  color: var(--primary-col);
}
.english {
  font-style: 1.2em;
  color: var(--primary-col);
}
.telugu {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--secondary-col);
}
.english, .telugu {
  margin: .4rem 0;
}
.error {
  color: red;
}

.ques.mandatory::after {
  content: "*";
  color: red;
  position: relative;
  font-size: 1em;
  top: -1px;
}

#chart_div {
  width: max(500px, 60%);
  height: 500px;
}

@media only screen and (max-width: 500px) {
  #chart_div {
    width: max(500px, 60%);
    height: 400px;
  }
}
