* {
    --shadow-col: #6c6969;
    --tjb-col: #817e9f;
}

.form-card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem 1rem;
    width: 100%;
}

.team-card {
    /* font-family: var(--mont-font); */
    font-family: var(--hanken-font);
    height: 3rem;
    width: min(20rem, 85%);

    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    transition: all 400ms ease-in-out;

    margin: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 5px var(--shadow-col);
    overflow: hidden;
    color: var(--primary-col);
}

.team-card:hover {
    transform: scale(1.02);
    box-shadow: 2px 3px 5px var(--shadow-col);
    overflow: hidden;
}

.team-brand {
    height: 100%;
    width: 100%;
    font-weight: 600;
    padding: 1rem;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.expanded-card {
    position: relative;
    padding: 0 1rem;
}

.expanded-card > * {
    margin: 0rem 1rem;
}

.expanded-card > hr {
    border: 1px solid #191d32;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.specified-opt {
    display: inline-flex;
    width: 65%;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.specified-opt::before {
    content: "";
    background-color: var(--tjb-col);
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    transition: all 400ms ease-in-out;
}

.specified-opt:hover::before {
    width: 100%;
}

img.party-symbol {
    height: 2.4rem;
}

.mandatory-error {
    font-size: 0.6em !important;
    color: red !important;
    font-style: italic;
}

.success {
    color: green !important;
}

#voteBtn {
    margin: 2rem;
    padding: .6rem 2rem;
    min-width: 10rem;
    background-color: transparent;
    font-size: 1.4em;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    transition: all 400ms ease-in-out;
}
#voteBtn:hover {
    background-color: #466362;
    transform: scale(1.05);
    color: var(--primary-bg);
    cursor: pointer;
}
#voteBtn:disabled:hover {
    transform: none;
}
#voteBtn:disabled {
    background-color: dimgrey;
    color: darkgrey;
    cursor: not-allowed;
}

#continue-btn, #complete-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #771F84;
    color: white;
    margin: 0 3rem 1rem .5rem;
    padding: .7rem 1.5rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#hide  {
    display: none;
}
#res-btn {
    color: #771f84;
    white-space: nowrap;
    margin: 0 3rem 1rem .5rem;
}
