
/* Toggle Container default Styles */
.toggle-container {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 80px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px #3A435E, inset 2px 2px 0 #3A435E;
    transition: all ease-in-out 300ms;
}
.toggle-container.left-enabled {
    /* change parent styles on left toggled */
    background-color: #F2F4F3;
}
.toggle-container.right-enabled {
    /* change parent styles on right toggled */
    background-color: #F2F4F3;
}

/* Toggler default Styles */
.toggler {
    position: absolute;
    top: 4px;
    left: auto;
    right: auto;
    height: 34px;
    width: 34px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.toggle-left {
    /* toggler styles on left */
    left: 5px;
    background-color: #05668D;              /* toggle left background color */
    transition: all ease-in-out 300ms;
}
.toggle-right {
    /* toggler styles on right */
    left: 43px;
    background-color: #D8315B;              /* toggle right background color */
    transition: all ease-in-out 300ms;
}
.toggle-labels > td {
    padding: 0 1rem;
    font-weight: bold;
}